@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: rgb(228, 102, 102);
}

body h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    font: bold 35px sans-serif;
}

.box {
    background: white;
    width: 650px;
    height: 450px;
    margin: 30px;
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.26);
}

.box > p {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-family: sans-serif;
}

.img1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font: italic 500 20px sans-serif;
}

