body {
    background: rgb(187, 107, 241);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

#msg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 18px;
}

#foto {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}
#diaSem {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.425);
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}